div.tnk-container {
  background-image: url("http://static1.1.sqspcdn.com/static/f/709071/28243747/1579169236813/weatheringwithyou-cloudynight.jpg?token=b5H%2BUx4YhDvZULynYtp0rQymOHM%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
}

div.tnk-container .rain-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  overflow: hidden;
}

div.tnk-container .rain-group .raindrop {
  width: 3px;
  margin: 0 5px;
  background-color: white;
  display: block;
}

div.tnk-container .rain-group .raindrop.rd-1 {
  opacity: 50%;
}

div.tnk-container .rain-group .raindrop.rd-2 {
  opacity: 80%;
}

div.tnk-container .rain-group .raindrop.rd-3 {
  opacity: 40%;
}

div.tnk-container .rain-group .raindrop.rd-4 {
  opacity: 84%;
}

div.tnk-container .rain-group .raindrop.rd-5 {
  opacity: 20%;
}

div.tnk-container .rain-group .raindrop.rd-6 {
  opacity: 68%;
}

div.tnk-container .rain-group .raindrop.rd-7 {
  opacity: 84%;
}

div.tnk-container .rain-group .raindrop.rd-8 {
  opacity: 43%;
}

div.tnk-container .rain-group .raindrop.rd-2 {
  opacity: 21%;
}

div.tnk-container .rain-group .raindrop.rd-2 {
  opacity: 56%;
}

div.tnk-container .rain-group.rg-1 .rd-1 {
  height: 16rem;
  width: 5px;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-1 .rd-2 {
  height: 12rem;
  width: 5px;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-1 .rd-3 {
  height: 11rem;
  width: 1px;
  margin-top: 35rem;
  -webkit-animation: rainfall infinite 0.6s linear;
          animation: rainfall infinite 0.6s linear;
}

div.tnk-container .rain-group.rg-1 .rd-4 {
  height: 8rem;
  width: 4px;
  margin-top: 5rem;
  -webkit-animation: rainfall infinite 0.3s linear;
          animation: rainfall infinite 0.3s linear;
}

div.tnk-container .rain-group.rg-1 .rd-5 {
  height: 2rem;
  width: 4px;
  margin-top: 11rem;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-1 .rd-6 {
  height: 13rem;
  width: 3px;
  margin-top: 18rem;
  -webkit-animation: rainfall infinite 0.6s linear;
          animation: rainfall infinite 0.6s linear;
}

div.tnk-container .rain-group.rg-1 .rd-7 {
  height: 20rem;
  width: 3px;
  margin-top: 19rem;
  -webkit-animation: rainfall infinite 1.2s linear;
          animation: rainfall infinite 1.2s linear;
}

div.tnk-container .rain-group.rg-1 .rd-8 {
  height: 15rem;
  width: 4px;
  margin-top: 10rem;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-1 .rd-9 {
  height: 2rem;
  width: 5px;
  margin-top: 19rem;
  -webkit-animation: rainfall infinite 0.6s linear;
          animation: rainfall infinite 0.6s linear;
}

div.tnk-container .rain-group.rg-1 .rd-10 {
  height: 12rem;
  width: 2px;
  margin-top: 35rem;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-2 .rd-1 {
  height: 10rem;
  width: 5px;
  -webkit-animation: rainfall infinite 0.3s linear;
          animation: rainfall infinite 0.3s linear;
}

div.tnk-container .rain-group.rg-2 .rd-2 {
  height: 2rem;
  width: 4px;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-2 .rd-3 {
  height: 14rem;
  width: 2px;
  margin-top: 30rem;
  -webkit-animation: rainfall infinite 1.2s linear;
          animation: rainfall infinite 1.2s linear;
}

div.tnk-container .rain-group.rg-2 .rd-4 {
  height: 2rem;
  width: 5px;
  margin-top: 3rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-2 .rd-5 {
  height: 9rem;
  width: 5px;
  margin-top: 14rem;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-2 .rd-6 {
  height: 10rem;
  width: 4px;
  margin-top: 6rem;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-2 .rd-7 {
  height: 8rem;
  width: 3px;
  margin-top: 41rem;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-2 .rd-8 {
  height: 4rem;
  width: 4px;
  margin-top: 31rem;
  -webkit-animation: rainfall infinite 0.75s linear;
          animation: rainfall infinite 0.75s linear;
}

div.tnk-container .rain-group.rg-2 .rd-9 {
  height: 2rem;
  width: 1px;
  margin-top: 33rem;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-2 .rd-10 {
  height: 11rem;
  width: 1px;
  margin-top: 11rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-3 .rd-1 {
  height: 10rem;
  width: 1px;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-3 .rd-2 {
  height: 16rem;
  width: 5px;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-3 .rd-3 {
  height: 14rem;
  width: 5px;
  margin-top: 29rem;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-3 .rd-4 {
  height: 5rem;
  width: 2px;
  margin-top: 13rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-3 .rd-5 {
  height: 9rem;
  width: 1px;
  margin-top: 33rem;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-3 .rd-6 {
  height: 4rem;
  width: 2px;
  margin-top: 6rem;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-3 .rd-7 {
  height: 8rem;
  width: 1px;
  margin-top: 6rem;
  -webkit-animation: rainfall infinite 0.6s linear;
          animation: rainfall infinite 0.6s linear;
}

div.tnk-container .rain-group.rg-3 .rd-8 {
  height: 16rem;
  width: 3px;
  margin-top: 17rem;
  -webkit-animation: rainfall infinite 0.45s linear;
          animation: rainfall infinite 0.45s linear;
}

div.tnk-container .rain-group.rg-3 .rd-9 {
  height: 5rem;
  width: 3px;
  margin-top: 7rem;
  -webkit-animation: rainfall infinite 0.75s linear;
          animation: rainfall infinite 0.75s linear;
}

div.tnk-container .rain-group.rg-3 .rd-10 {
  height: 14rem;
  width: 1px;
  margin-top: 2rem;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-4 .rd-1 {
  height: 10rem;
  width: 2px;
  -webkit-animation: rainfall infinite 0.6s linear;
          animation: rainfall infinite 0.6s linear;
}

div.tnk-container .rain-group.rg-4 .rd-2 {
  height: 4rem;
  width: 2px;
  -webkit-animation: rainfall infinite 0.45s linear;
          animation: rainfall infinite 0.45s linear;
}

div.tnk-container .rain-group.rg-4 .rd-3 {
  height: 1rem;
  width: 2px;
  margin-top: 8rem;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-4 .rd-4 {
  height: 18rem;
  width: 1px;
  margin-top: 17rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-4 .rd-5 {
  height: 20rem;
  width: 3px;
  margin-top: 24rem;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-4 .rd-6 {
  height: 16rem;
  width: 1px;
  margin-top: 3rem;
  -webkit-animation: rainfall infinite 0.3s linear;
          animation: rainfall infinite 0.3s linear;
}

div.tnk-container .rain-group.rg-4 .rd-7 {
  height: 20rem;
  width: 1px;
  margin-top: 22rem;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-4 .rd-8 {
  height: 4rem;
  width: 2px;
  margin-top: 2rem;
  -webkit-animation: rainfall infinite 0.75s linear;
          animation: rainfall infinite 0.75s linear;
}

div.tnk-container .rain-group.rg-4 .rd-9 {
  height: 3rem;
  width: 1px;
  margin-top: 27rem;
  -webkit-animation: rainfall infinite 0.3s linear;
          animation: rainfall infinite 0.3s linear;
}

div.tnk-container .rain-group.rg-4 .rd-10 {
  height: 13rem;
  width: 5px;
  margin-top: 43rem;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-5 .rd-1 {
  height: 10rem;
  width: 3px;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-5 .rd-2 {
  height: 17rem;
  width: 2px;
  -webkit-animation: rainfall infinite 0.75s linear;
          animation: rainfall infinite 0.75s linear;
}

div.tnk-container .rain-group.rg-5 .rd-3 {
  height: 1rem;
  width: 1px;
  margin-top: 28rem;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-5 .rd-4 {
  height: 15rem;
  width: 1px;
  margin-top: 1rem;
  -webkit-animation: rainfall infinite 1.2s linear;
          animation: rainfall infinite 1.2s linear;
}

div.tnk-container .rain-group.rg-5 .rd-5 {
  height: 14rem;
  width: 1px;
  margin-top: 14rem;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-5 .rd-6 {
  height: 11rem;
  width: 1px;
  margin-top: 19rem;
  -webkit-animation: rainfall infinite 0.45s linear;
          animation: rainfall infinite 0.45s linear;
}

div.tnk-container .rain-group.rg-5 .rd-7 {
  height: 20rem;
  width: 1px;
  margin-top: 38rem;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-5 .rd-8 {
  height: 13rem;
  width: 3px;
  margin-top: 43rem;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-5 .rd-9 {
  height: 5rem;
  width: 4px;
  margin-top: 5rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-5 .rd-10 {
  height: 13rem;
  width: 2px;
  margin-top: 37rem;
  -webkit-animation: rainfall infinite 1.2s linear;
          animation: rainfall infinite 1.2s linear;
}

div.tnk-container .rain-group.rg-6 .rd-1 {
  height: 16rem;
  width: 1px;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-6 .rd-2 {
  height: 9rem;
  width: 3px;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-6 .rd-3 {
  height: 4rem;
  width: 1px;
  margin-top: 31rem;
  -webkit-animation: rainfall infinite 1.2s linear;
          animation: rainfall infinite 1.2s linear;
}

div.tnk-container .rain-group.rg-6 .rd-4 {
  height: 18rem;
  width: 2px;
  margin-top: 17rem;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-6 .rd-5 {
  height: 4rem;
  width: 2px;
  margin-top: 21rem;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-6 .rd-6 {
  height: 10rem;
  width: 1px;
  margin-top: 6rem;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-6 .rd-7 {
  height: 19rem;
  width: 3px;
  margin-top: 22rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-6 .rd-8 {
  height: 11rem;
  width: 2px;
  margin-top: 30rem;
  -webkit-animation: rainfall infinite 0.3s linear;
          animation: rainfall infinite 0.3s linear;
}

div.tnk-container .rain-group.rg-6 .rd-9 {
  height: 5rem;
  width: 1px;
  margin-top: 5rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-6 .rd-10 {
  height: 5rem;
  width: 1px;
  margin-top: 45rem;
  -webkit-animation: rainfall infinite 0.6s linear;
          animation: rainfall infinite 0.6s linear;
}

div.tnk-container .rain-group.rg-7 .rd-1 {
  height: 15rem;
  width: 3px;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-7 .rd-2 {
  height: 5rem;
  width: 2px;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-7 .rd-3 {
  height: 6rem;
  width: 5px;
  margin-top: 5rem;
  -webkit-animation: rainfall infinite 0.6s linear;
          animation: rainfall infinite 0.6s linear;
}

div.tnk-container .rain-group.rg-7 .rd-4 {
  height: 17rem;
  width: 1px;
  margin-top: 50rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-7 .rd-5 {
  height: 14rem;
  width: 4px;
  margin-top: 19rem;
  -webkit-animation: rainfall infinite 1.2s linear;
          animation: rainfall infinite 1.2s linear;
}

div.tnk-container .rain-group.rg-7 .rd-6 {
  height: 10rem;
  width: 3px;
  margin-top: 25rem;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-7 .rd-7 {
  height: 20rem;
  width: 4px;
  margin-top: 8rem;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-7 .rd-8 {
  height: 2rem;
  width: 3px;
  margin-top: 16rem;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-7 .rd-9 {
  height: 6rem;
  width: 4px;
  margin-top: 11rem;
  -webkit-animation: rainfall infinite 0.75s linear;
          animation: rainfall infinite 0.75s linear;
}

div.tnk-container .rain-group.rg-7 .rd-10 {
  height: 2rem;
  width: 1px;
  margin-top: 6rem;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-8 .rd-1 {
  height: 17rem;
  width: 4px;
  -webkit-animation: rainfall infinite 1.2s linear;
          animation: rainfall infinite 1.2s linear;
}

div.tnk-container .rain-group.rg-8 .rd-2 {
  height: 19rem;
  width: 1px;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-8 .rd-3 {
  height: 14rem;
  width: 4px;
  margin-top: 8rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-8 .rd-4 {
  height: 4rem;
  width: 1px;
  margin-top: 49rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-8 .rd-5 {
  height: 2rem;
  width: 2px;
  margin-top: 3rem;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-8 .rd-6 {
  height: 12rem;
  width: 2px;
  margin-top: 34rem;
  -webkit-animation: rainfall infinite 0.6s linear;
          animation: rainfall infinite 0.6s linear;
}

div.tnk-container .rain-group.rg-8 .rd-7 {
  height: 9rem;
  width: 5px;
  margin-top: 37rem;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-8 .rd-8 {
  height: 7rem;
  width: 3px;
  margin-top: 42rem;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-8 .rd-9 {
  height: 16rem;
  width: 3px;
  margin-top: 48rem;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-8 .rd-10 {
  height: 19rem;
  width: 3px;
  margin-top: 31rem;
  -webkit-animation: rainfall infinite 1.2s linear;
          animation: rainfall infinite 1.2s linear;
}

div.tnk-container .rain-group.rg-9 .rd-1 {
  height: 18rem;
  width: 4px;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-9 .rd-2 {
  height: 7rem;
  width: 2px;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-9 .rd-3 {
  height: 9rem;
  width: 5px;
  margin-top: 41rem;
  -webkit-animation: rainfall infinite 0.45s linear;
          animation: rainfall infinite 0.45s linear;
}

div.tnk-container .rain-group.rg-9 .rd-4 {
  height: 6rem;
  width: 5px;
  margin-top: 2rem;
  -webkit-animation: rainfall infinite 1.5s linear;
          animation: rainfall infinite 1.5s linear;
}

div.tnk-container .rain-group.rg-9 .rd-5 {
  height: 1rem;
  width: 2px;
  margin-top: 16rem;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-9 .rd-6 {
  height: 6rem;
  width: 2px;
  margin-top: 5rem;
  -webkit-animation: rainfall infinite 0.6s linear;
          animation: rainfall infinite 0.6s linear;
}

div.tnk-container .rain-group.rg-9 .rd-7 {
  height: 11rem;
  width: 4px;
  margin-top: 19rem;
  -webkit-animation: rainfall infinite 0.3s linear;
          animation: rainfall infinite 0.3s linear;
}

div.tnk-container .rain-group.rg-9 .rd-8 {
  height: 13rem;
  width: 4px;
  margin-top: 37rem;
  -webkit-animation: rainfall infinite 0.3s linear;
          animation: rainfall infinite 0.3s linear;
}

div.tnk-container .rain-group.rg-9 .rd-9 {
  height: 7rem;
  width: 4px;
  margin-top: 1rem;
  -webkit-animation: rainfall infinite 0.75s linear;
          animation: rainfall infinite 0.75s linear;
}

div.tnk-container .rain-group.rg-9 .rd-10 {
  height: 3rem;
  width: 2px;
  margin-top: 32rem;
  -webkit-animation: rainfall infinite 0.3s linear;
          animation: rainfall infinite 0.3s linear;
}

div.tnk-container .rain-group.rg-10 .rd-1 {
  height: 6rem;
  width: 1px;
  -webkit-animation: rainfall infinite 1.05s linear;
          animation: rainfall infinite 1.05s linear;
}

div.tnk-container .rain-group.rg-10 .rd-2 {
  height: 9rem;
  width: 2px;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-10 .rd-3 {
  height: 13rem;
  width: 2px;
  margin-top: 21rem;
  -webkit-animation: rainfall infinite 0.45s linear;
          animation: rainfall infinite 0.45s linear;
}

div.tnk-container .rain-group.rg-10 .rd-4 {
  height: 7rem;
  width: 3px;
  margin-top: 36rem;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-10 .rd-5 {
  height: 13rem;
  width: 1px;
  margin-top: 3rem;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-10 .rd-6 {
  height: 6rem;
  width: 1px;
  margin-top: 35rem;
  -webkit-animation: rainfall infinite 1.35s linear;
          animation: rainfall infinite 1.35s linear;
}

div.tnk-container .rain-group.rg-10 .rd-7 {
  height: 1rem;
  width: 2px;
  margin-top: 44rem;
  -webkit-animation: rainfall infinite 0.15s linear;
          animation: rainfall infinite 0.15s linear;
}

div.tnk-container .rain-group.rg-10 .rd-8 {
  height: 6rem;
  width: 4px;
  margin-top: 42rem;
  -webkit-animation: rainfall infinite 0.45s linear;
          animation: rainfall infinite 0.45s linear;
}

div.tnk-container .rain-group.rg-10 .rd-9 {
  height: 17rem;
  width: 4px;
  margin-top: 36rem;
  -webkit-animation: rainfall infinite 0.9s linear;
          animation: rainfall infinite 0.9s linear;
}

div.tnk-container .rain-group.rg-10 .rd-10 {
  height: 19rem;
  width: 2px;
  margin-top: 32rem;
  -webkit-animation: rainfall infinite 0.75s linear;
          animation: rainfall infinite 0.75s linear;
}

@-webkit-keyframes rainfall {
  from {
    -webkit-transform: translatey(-100vh);
            transform: translatey(-100vh);
  }
  to {
    -webkit-transform: translatey(100vh);
            transform: translatey(100vh);
  }
}

@keyframes rainfall {
  from {
    -webkit-transform: translatey(-100vh);
            transform: translatey(-100vh);
  }
  to {
    -webkit-transform: translatey(100vh);
            transform: translatey(100vh);
  }
}
/*# sourceMappingURL=wet.css.map */